.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  background-color: #fff;
  border-radius: 36px;

  color: #060326;

  padding: 30px 0;

  max-width: 730px;
  margin: 0 auto;

  h2 {
    text-align: center;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  #root {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  main {
    width: 100%;
    max-width: 768px;
    margin: 0;

    h2 {
      font-size: 3.6rem;
    }
  }
}
